body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 25px;
    height: 48px;
    width: 48px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.calculator {
    margin: 128px 128px;
    background-color: black;
    border-radius: 5px;
    height: 350px;
    width: 250px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.output-section {
    margin-bottom: 0px;
}

#output-text {
    color: white;
    font-size: 24px;
    text-align: right;
    margin: 64px 8px;
    margin-bottom: 0px;
}

.grid {
    margin: 16px 8px;
    margin-top: 8px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number,
.operator {
    margin: 2px;
}

.number {
    border: 0px solid rgb(39, 39, 39);
    background-color: rgb(39, 39, 39);
    color: white;
}

#decimal {
    border: 0px solid rgb(39, 39, 39);
    background-color: rgb(39, 39, 39);
    color: white;
}

#add,
#subtract,
#multiply,
#divide,
#equal {
    border: 0px solid rgb(214, 166, 8);
    background-color: rgb(214, 166, 8);
    color: white;
}

#clear, 
#toggle-negative,
#modulus {
    border: 0px solid rgb(185, 185, 185);
    background-color: rgb(185, 185, 185);
    color: black;
}

#zero {
    flex: 2;
    height: 48px;
    width: 96px;
    padding-right: 24px;
}